
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<p style="text-align: left;">
            <button (click)="completeToDo(myToDo)" *ngIf="!myToDo.completed" class="completeButtonStyle">Complete</button>
                    &nbsp;&nbsp;

<label *ngIf="(!myToDo.completed && !myToDo.editable)"  >{{myToDo.task}}</label>
<input *ngIf="(!myToDo.completed && myToDo.editable)" type="text" value="{{myToDo.task}}" [(ngModel)]="myToDo.task" 
                        id="edited" name="edited"/>
<label *ngIf="myToDo.completed" class="completedTask" >{{myToDo.task}}</label>
<span style="float:right; ">

            <button *ngIf="(!myToDo.completed && !myToDo.editable)"(click)="editToDo(myToDo)" class="editButton"> 
                <i class="fa fa-edit"></i></button>
            <button *ngIf="(!myToDo.completed && myToDo.editable)"(click)="updateToDo(myToDo)" class="editButton"> 
                <i class="fa fa-check"></i></button>
            <button (click)="removeToDO(myToDo)" class="removeButton"> <i class="fa fa-close"></i></button>
              
  </span>      
    </p>

